@import url("https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap");
@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
@theme {
  --font-momo: "Momo Trust Display", sans-serif;

  --color-navy: #102a43;
  --color-cream: #f5f3ee;
  --color-cyan: #55d6ff;
  --color-white: #ffffff;
  --color-bluecards: #588fff;
  --color-violet: #A78BFA;
  --color-lime: #B7F34A;
  --color-coral: #FF6B4A;
  --color-yellow: #FFD166;
}

@layer components {
  .section-header {
    @apply font-momo text-5xl leading-[0.9] tracking-[-0.05em] md:text-7xl lg:text-8xl;
  }

  .section-header-light {
    @apply text-[#F5F3EE];
  }

  .section-header-dark {
    @apply text-[#102A43];
  }

  .section-eyebrow {
    @apply font-mono text-[1.25rem] font-bold uppercase tracking-[0.2em];
  }

  .section-eyebrow-light {
    @apply text-[#F5F3EE]/50;
  }

  .section-eyebrow-dark {
    @apply text-[#102A43]/50;
  }

  .section-description {
    @apply max-w-3xl text-lg leading-relaxed md:text-xl;
  }

  .section-description-light {
    @apply text-[#F5F3EE]/65;
  }

  .section-description-dark {
    @apply text-[#102A43]/65;
  }

  .highlited-text {
    @apply font-momo text-5xl leading-[0.9] tracking-[-0.05em] md:text-7xl lg:text-8xl;
  }
}

@media (hover: hover) and (pointer: fine) {
  body {
    cursor: none;
  }

  a,
  button {
    cursor: none;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .section-dark-end {
  position: relative;
}

.section-dark-end::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100px;
  background: white;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  z-index: 2;
  pointer-events: none;
}

.section-dark-start {
  position: relative;
  clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 100%);
  margin-top: -1px;
}

.section-dark-start::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  height: 100px;
  background: var(--color-navy);
  z-index: 2;
  pointer-events: none;
} */